    <!-- ******FOOTER****** --> 
<iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/fdf54582-df85-4ce6-b992-83b0f23a6d55"></iframe>

    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Made with <i class="fa fa-heart"></i> in <a href="http://harendrasingh.tech" target="_blank">India</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{ site.baseurl }}public/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}public/js/main.js"></script>       

