    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">H<span class="highlight">S</span></h2>
            <p class="intro">Portfolio Website of Harendra Singh</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://harendrasingh.tech/" target="_blank">Blog Coming Soon...</a>
                <a class="btn btn-cta-primary" href="http://harendrasingh.tech/myProjects" target="_blank">Projects I have made\n(Under Construction)</a>
            </div>
            
        </div><!--//container-->
        
    </section><!--//promo-->
